/* 19.04.12 | base.css */

@import url("reset.css");
@import url("debug.css");
@import url("fonts.css");

body{
	font-family: "Lucida Sans", "Lucida Grande", "Lucida Unicode", Helvetica, sans-serif;
	font-size: 13px;
	color: #717171;
}

/* ---------| defaults |--------- */
ul{ list-style: none;}

a{ text-decoration: none;}

strong{ font-weight: bold;}

label{ display: inline;}

input{
	border: 0;
	padding: 0;
	outline: 0 none;
}

input[type="text"], textarea{
	font-family: "Lucida Sans", "Lucida Grande", "Lucida Unicode", Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 7px;

	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
	   -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
			box-shadow: inset 0 0 3px rgba(0,0,0,0.2);

	height: 23px;
	border: 1px solid #bdbbbb;
	outline: 1px solid #e7e8e4;
	color: #666;
}

	input[type="text"]:focus,
	textarea:focus{ border-color: #9e9e9e;}

input[type="radio"],
input[type="checkbox"],
input[type="radio"]:focus,
input[type="checkbox"]:focus{
	border: 0 none;
	color: inherit;
	outline: none;
}

/* ---------| headers |--------- */
.runin-tag{
	font-family: 'VonnesBold', Helvetica, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #666;
}

	.runin-tag span{ font-family: 'VonnesBook', Helvetica, sans-serif;}

.note{
	font-family: Arial, sans-serif;
	font-size: 10px;
	line-height: 1.1em;
	letter-spacing: 0.01em;
	color: #a1a19a;
}

	.note-head{
		font-size: 11px;
		text-transform: uppercase;
		margin-bottom: 0.5em;
	}

		  .note a:link{ color: #666;}
	   .note a:visited{ color: #a1a19a;}
		    .note a:hover{ color: #444;}
	 	.note a:active{ color: #a1a19a;}

.legal-note{
	font-family: Arial, sans-serif;
	font-size: 10px;
	letter-spacing: -0.02em;
	color: #727272;
}

.main-destiny{
	font-family: 'VonnesLight', Helvetica, sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	color: inherit;
}

.main-copy{
	font-family: 'VonnesLight', Helvetica, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: inherit;
}

.main-includes{
	width: 294px;
	font-size: inherit;
	line-height: 1.2em;
	color: inherit;
}

	.main-includes h3{
		font-size: 14px;
		margin-bottom: 1em;
	}

	.main-includes p{ margin-bottom: 1em;}

	.main-includes ul{
		list-style: disc inside;
		line-height: 1.5em;
		margin-bottom: 1em;
	}


/* ---------| main divs |--------- */
.wrap{
	width: 1019px;
	margin: 0 auto;
}

	/* ---------| showcase |--------- */
	.showcase .tab{ font-size: 14px;}

	.showcase-container{
		overflow: hidden;
		position: relative;
		height: 650px;
	}

		.header{
			width: 100%;
			height: 105px; /* 120px */
			padding: 15px 0 0;
			position: absolute;
			top: 0;
			z-index: 1;
		}

			.nav-board{ float: right;}

			.brand{
				float: left;
				margin-left: 16px;
			}

			.tagline{
				font-family: 'VonnesBook', Helvetica, sans-serif;
				font-size: 13px;
				text-transform: uppercase;
				color: #fff;
			}
				.tagline span{ color: #e9b21f;}

				.nav-board .tagline{
					text-align: right;
					margin: 4px 16px 28px 0;
				}

				.nav li{ display: inline;}

			.main-nav{
				font-family: 'VonnesBook', Helvetica, sans-serif;
				font-size: 12px;
				text-transform: uppercase;
				color: #fff;
			}

				.main-nav li{ padding: 0 13px;}

				      .main-nav a:link{ color: #fff;}
				.main-nav a:visited{ color: #fff;}
				.main-nav a:hover,
				.main-nav a.current{ color: #e9b21f;}
				 .main-nav a:active{ color: #fff;}

		.brand{
			display: block;
			width: 241px;
			height: 82px;
			background: url("../img/viajes-palacio.png") top left no-repeat;
		}

		.showcase{
			width: 100%;
			height: 650px;
			position: relative;
			z-index: 0;
		}

			/* update 22.02.13 */
			.clip-mensualidades{
				width: 285px;
				height: 39px;
				background: url("../img/escaparate/clip-mensualidades-img.png") top left no-repeat;
				position: absolute;
				left: 30px;
				bottom: 55px;
			}

			.showcase-home{
				display: block;
				width: 990px;
				height: 650px;
				overflow: hidden;
			}

				.showcase-item{	
					display: block;
					float: left;
					width: 990px;
					height: 650px;
					text-align: left;
					position: relative;
					background-repeat: no-repeat;
				}

						.interior .main-copy{
							text-transform: uppercase;
							margin-bottom: 52px;
						}

					.showcase-item .copy-block{
						position: absolute;
						top: 142px;
						left: 34px;
						color: #fff;
					}

		.tab{
			width: 100%;
			height: 33px;
			background: #eaeaea;
		}

			.tab .btn{ float: right;}

			.tab .product-destiny{
				float: left;
				margin: 0.9em 0 0 0.8em;
			}

			.showcase-item .tab,
			.panel-item .tab{
				position: absolute;
				bottom: 0;
			}

		.help-box .call{ margin-right: 50px;}

			.chat{ background-image: url("../img/chat-icon.jpg");}
			.call{ background-image: url("../img/call-icon.jpg");}
			.global{ background-image: url("../img/global-icon.jpg");}

			.help-item{
				font-family: 'VonnesBook', Helvetica, sans-serif;
				font-size: 13px;
				height: 28px;
				padding-left: 36px;
				color: #59594c;
				background-position: top left;
				background-repeat: no-repeat;
			}
				.help-item h3{ text-transform: uppercase;}

				.help-link{ text-transform: uppercase;}

				   .help-link:link{ color: #59594c;}
				.help-link:visited{ color: #59594c;}
					 .help-link:hover{ color: #333333;}
				 .help-link:active{ color: #59594c;}

	.board{
		padding: 7px 9px 0;
		border-left: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
	}
	
	.inner-board{
		padding: 0 9px;
		border-left: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
	}

	/* ---------| Paginator |--------- */
	.paginator-bar{
		width: 100%;
		height: 38px;
		clear: both;
	}

	.paginator{ font-family: 'VonnesBook', Helvetica, sans-serif;}
		.paginator span{ font-family: 'VonnesMedium', Helvetica, sans-serif;}

		.paginator-bar .paginator{
			float: right;
			margin-top: 12px;
		}
			.paginator li{
				float: left;
				margin: 0 8px;
			}

			.paginator .arrow-btn{
				width: 10px;
				color: #717171;
				height: 14px;
				text-indent: -9999px;
				cursor: pointer;
				overflow: hidden;

			}
				.paginator .prev{ background-position: top left;}
					.paginator .prev:hover{ background-position: bottom left;}
					
				.paginator .next{ background-position: top right;}
					.paginator .next:hover{ background-position: bottom right;}

	/* ---------| Catalog Board |--------- */
	.catalog-board{
		width: 100%;
		margin-bottom: 7px;
	}
		.catalog-showcase{ width: 100%;}
			.catalog-showcase li:nth-child(3n+3){ margin-right: 0;}

			.catalog-item{
				width: 318px;
				height: 286px;
				margin: 0 8px 8px 0;
				float: left;
			}

		/* ---------| banners |--------- */
		.banner-module{
			width: 970px;
			height: 286px;
			margin-bottom: 7px;
		}

			.banner-combo{
				width: 318px;
				height: 286px;
			}

			.banner-panel{
				width: 644px;
				height: 286px;
				overflow: hidden;
			}

				.banner-panel .product-banner,
				.banner-panel .product-box{ float: left;}	

			/* ---------| banner-rotator |--------- */
			.rotator-container{
				width: 970px;	
				height: 286px;
				margin-bottom: 7px;
				overflow: hidden;
			}
				.banner-rotator{
					display: block;
					width: 1940px;
					height: 286px;
				}

				.banner-rotator .banner-module{ margin-bottom: 0;}

					.rotator-item{
						width: 970px;
						height: 286px;
						float: left;
					}

			/* ---------| products |--------- */
			.panel-item{
				height: 286px;
				position: relative;
			}

			.product-banner{
				width: 318px;
				height: 253px;
				overflow: hidden;
				position: relative;
			}
				
				.promo-ribbon{
					display: block;
					width: 74px;
					height: 75px;
					position: absolute;
					top: 0;
					right: 0;
					background: url('../img/promo-ribbon.png') top left no-repeat;
				}

			.product-box{
				width: 294px; /* 326px */
				height: 225px; /* 253px */
				padding: 28px 16px 0;
				position: relative;
			}

			.product-tips{
				height: 195px;
				padding: 58px 16px 0;
				position: relative;
			}

			.product-amenity{
				height: 225px;
				padding: 28px 16px 0;
				position: relative;
			}

				.product-name{
					font-family: 'VonnesLight', Helvetica, sans-serif;
					font-size: 22px;
					text-transform: uppercase;
					margin-bottom: 0.3em;
					color: #999;
				}

				.product-tag{
					font-family: 'VonnesLight', Helvetica, sans-serif;
					font-size: 16px;
					text-transform: uppercase;
					position: absolute;
					top: 14px;
					left: 12px;
					color: #fff;
				}

					.product-tag span{
						font-family: 'VonnesBold', Helvetica, sans-serif;
						font-size: 13px;
						text-transform: uppercase;	
					}

				.product-destiny{
					font-family: 'VonnesBold', Helvetica, sans-serif;
					font-size: 13px;
					text-transform: uppercase;
					margin-bottom: 1.2em;
					color: #666;
				}

				.product-copy{
					font-size: inherit;
					line-height: 1.2;
					margin-bottom: 1.4em;
				}

				.product-feature{
					font-size: 14px;
					margin-bottom: 2em;
				}
					.product-feature ul{
						font-size: 12px;
						list-style: disc inside;
						line-height: 1.4em;
					}

					.product-feature h4{
						font-family: 'VonnesMediumCondensed';
						margin-bottom: 0.5em;
					}

				.includes{
					font-family: 'VonnesBookCondensed', Helvetica, sans-serif;
					line-height: 1.2em;
				}
					.includes span{ font-family: 'VonnesBoldCondensed', Helvetica, sans-serif;}

				.product-promo{
					float: left;
					margin-top: 0.8em;
				}

				.promo-item{
					float: left;
					padding: 0 12px;
				}
					
					/*.divider{ border-left: 1px solid #666}*/

					.panel-item .divider{ border: none}

					.promotion{
						font-family: 'VonnesBook', Helvetica, sans-serif;
						font-size: 14px;
						text-transform: uppercase; 
						letter-spacing: -0.01em;
						color: #666;
					}
						.promotion span{ font-family: 'VonnesBold', Helvetica, sans-serif;}


					/* ---------| ticker |--------- */
					.ticker{
						height: 16px;
						overflow: hidden;
					}
						.ticker li{ height: 16px;}


		/* ---------| Product detail |--------- */
		.product-name-detail{
			font-family: 'VonnesLight', Helvetica, sans-serif;
			font-size: 26px;
			text-transform: uppercase;
			color: #333;
		}

		.product-destiny-detail{
			font-family: 'VonnesLight', Helvetica, sans-serif;
			font-size: 16px;
			color: #333;
		}
			.product-destiny-detail span{ text-transform: uppercase;}

			.copy{
				font-family: 'VonnesBook', Helvetica, sans-serif;
				font-size: 14px;
				line-height: 1.2em;
			}
		
				.include{
					width: 362px; /*372px*/
					margin-right: 18px;
				}
				
				.includes-item h3{
					font-family: 'VonnesBoldCondensed', Helvetica, Arial;
					font-size: 13px;
					text-transform: uppercase;
					margin-bottom: 1em;
				}

			.features-list{
				font-family: 'VonnesBookCondensed', Helvetica, Arial;
				font-size: 13px;
				line-height: 1.4em;
				list-style: disc inside;
				margin-bottom: 1.2em;
			}

			.departures{
				clear: both;
				padding: 1em 0;	
			}

		/* ---------| web-tool |--------- */
		.web-tool{
			height: 52px;
			margin-bottom: 8px;
			background: #eaeaea;
		}

			.web-tool .web-tool-caption{ margin: 14px 0 0 13px;}

			.web-tool-caption{
				font-family: 'VonnesBook', Helvetica, sans-serif;
				font-size: 14px;
				line-height: 1.2em;
				text-transform: uppercase;
				float: left;
				color: #666;
			}
				.web-tool-caption span{ font-family: 'VonnesMedium', Helvetica, sans-serif;}

				.web-tool-caption h3{ font-size: 12px;}

			.suscription{
				display: block;
				width: 522px;
				height: 52px;
				line-height: 52px;
				float: right;
				background: #e0e0e0;
			}

				.suscription fieldset{ margin: 15px 0 0 13px;}

				.suscription input{
					float: left;
					margin-right: 11px;
				}

					.suscription input[type="text"]{ width: 216px; }

				.feedback{
					text-align: center;
					font-size: 14px;
					color: #505050;	
					display: none;
				}

					.caption h2{ font-size: 20px;}
					.caption h3{ font-size: 14px;}

		.footer{
			/*height: 184px; /* 200px */
			padding: 16px 7px 18px;
		}

			.footer .note{
				letter-spacing: normal;
				text-align: justify;
			}

			/*.footer-module{ height: 168px;}*/

				.footer-module .runin-tag{ margin-bottom: 14px;}
				.footer-module .help-box{ margin-bottom: 24px;}

			.legal-module{
				width: 632px; /* 646px */
				float: left;
				padding: 0 7px;
			}

			.social-module{
				width: 292px;
				float: right;
				position: relative;
			}

				.social-module .runin-tag,
				.social-module .help-item{ margin-left: 8px;}

				/*.social-module .social-box{
					position: absolute;
					bottom: 0;
				}*/

		/* ---------| social box |--------- */	
		.social-box{
			width: 297px;
			margin-top: 76px;
		}
			.social-badge{
				float: left;
				width: 143px;
				height: 74px;
			}

			.facebook-badge{
				margin-right: 11px;
				background: url("../img/social-badge-bg.png") top left no-repeat;
			}
				.facebook-badge .fb_edge_widget_with_comment{
		 			float: right;
					margin: 6px 9px 0 0;
				}

			.twitter-badge{ background: url("../img/social-badge-bg.png") top right no-repeat;}
				.twitter-badge .twitter-share-button{
					float: right;
					margin: 6px 7px 0 0;
				}

			.social-link{
				font-family: 'PresidenciaFinaRegular', Helvetica, sans-serif;
				font-size: 18px;
				text-align: center;
				display: block;
				padding-top: 82px;
				color: #7e858a;
			}
				.social-link:hover{ color: #000;}

				.facebook-logo{ background: url("../img/facebook-logo.jpg") center top no-repeat;}
				.twitter-logo{ background: url("../img/twitter-logo.jpg") center top no-repeat;}


/* ---------| buttons |--------- */
.btn{
	display: block;
	height: 33px;
	font-family: 'GillSansStdRegular', Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	text-shadow: 0 0 1px rgba(0,0,0,0.65);
	text-transform: uppercase;
	line-height: 33px;
	overflow: hidden;
	color: #333;
	background-color: #ccc;
	background-position: top left;
}
	.btn:hover{ background-color: #bbb;}

		.more-btn{ width: 100px;}
		.tips-btn{ width: 120px;}
		.detail-btn{ width: 70px;}

		.action-btn{
			font-size: 16px;
			width: 178px;
			background-color: #ffc425;
		}
			.action-btn:hover{ background-color: #e5ae1f;}

		.buy-btn{
			font-size: 14px;
			width: 100px;
			background-color: #ffc425;
		}
			.buy-btn:hover{ background-color: #e5ae1f;}

		.gallery-btn{
			font-size: 14px;
			width: 132px;
			background-color: #ffc425;
		}
			.gallery-btn:hover{ background-color: #e5ae1f;}

.sprite{
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
	background-position: top left;
}
	.btn:hover,
	.sprite:hover{ background-position: bottom left;}

	.suscribe-btn{
		width: 17px;
		height: 24px;
		background: url("../img/buttons/suscribe-btn.png") top left no-repeat;
	}
		.suscribe-btn:hover{ background-position: bottom left;}

/* ---------| media queries |--------- */
	/* Target only iPad */
	@media only screen and (max-device-width: 1024px){ input[type="text"]{ outline: none;}}

/* $clearfix ----------------------------------------------------- */
.clearfix:after{
	font-size: 0;
	display: block;
	content: '.';
	height: 0;
	visibility: hidden;
	clear: both;
}

* html .clearfix{ zoom: 1;}
*:first-child+html .clearfix{ zoom: 1;}

.clear{ clear: both;}


/* ---------| utils |--------- */
/*
.highlights{}
*::-web-kit-selection{ color: #e9b21f;}
*::-moz-selection{ color: #e9b21f;}
*/

.clear{ clear: both;}
.left{ float: left;}
.right{ float: right;}
.last-item{margin-right: 0;}
.hilite{ color: #e9b21f;}