
/* PRICING TABLE STYLE 4 */
/* Pricing Table ************************************************************ */
.tsc_pricingtable04 {  
	margin: 0 auto;
	text-align:center;
	width: 936px;
	font-family: Calibri, Arial, Helvetica;
}
.tsc_pricingtable04 ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.tsc_pricingtable04 ul.price-box { 
	float: left; 
	width: 436px; 
	margin: 0 -1px 0 0; 
	text-align: center;
}
.tsc_pricingtable04 ul.price-box li.pricing-header,
.tsc_pricingtable04 ul.price-box li.pricing-content,
.tsc_pricingtable04 ul.price-box li.pricing-footer {
	padding: 10px;
}
.tsc_pricingtable04 ul.price-box li.pricing-content,
.tsc_pricingtable04 ul.price-box li.pricing-footer {
	background-color: #f9f9f9;	
}

.tsc_pricingtable04 ul.price-box li.pricing-header {

	border: 1px solid #CCC;
	border-radius: 14px 14px 0 0;
	-moz-border-radius: 14px 14px 0 0;
	-webkit-border-radius: 14px 14px 0 0;
	-ms-border-radius: 14px 4px 0 0;	
	background: #000;

}
.tsc_pricingtable04 ul.price-box li.pricing-header > ul {
	position: relative;
}
.tsc_pricingtable04 ul.price-box li.pricing-header ul li.title {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 18px 0px 40px 0px;
	color: #fff;
}
.tsc_pricingtable04 ul.price-box li.pricing-header ul li.price {
	position: relative;
	color: #fff;
	padding-bottom: 10px;
}
.tsc_pricingtable04 ul.price-box li.pricing-header ul li.price span.currency {
	font-size: 30px;
    position: relative;
    top: -39px;
}
.tsc_pricingtable04 ul.price-box li.pricing-header ul li.price span.big {
	font-size: 90px;
	font-weight: bold;
	letter-spacing: -4px;
}
.tsc_pricingtable04 ul.price-box li.pricing-header ul li.price span.small {
	font-size: 36px;
    font-weight: bold;
    position: relative;
    top: -35px;
    margin: 0 0 0 2px;
}
.tsc_pricingtable04 ul.price-box li.pricing-header ul li.month-label {
	color: #97a3ae;
	padding: 0 0 10px;
}
.tsc_pricingtable04 ul.price-box li.pricing-header li.most-popular-label {
	position: absolute;
	left: 30px;
	top: 228px;
	line-height: 22px;
}
.tsc_pricingtable04 ul.price-box li.pricing-header li.most-popular-label span {
	background: #77bdd4;
	font-size: 11px;
	color: #fff;
	font-weight: bold;
  padding: 2px 10px;
	border: 3px solid #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;	
}

.tsc_pricingtable04 ul.price-box li.pricing-content {
	border-left: 1px solid #ececec;
	border-right: 1px solid #ececec;
}
.tsc_pricingtable04 ul.price-box li.pricing-content ul li {
	padding: 10px 0;
	border-bottom: 1px solid #ececec;
}
.tsc_pricingtable04 ul.price-box li.pricing-content ul li.big-description {
	padding: 15px 0 20px 0;
}


.tsc_pricingtable04 ul.price-box li.pricing-footer {
	border-left: 1px solid #ececec;
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-ms-border-radius: 0 0 4px 4px;
	padding: 20px 10px 30px;
}
.tsc_pricingtable04 ul.price-box li.pricing-footer a.buy-now {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	border: 1px solid #ccc;
	background: #eeeeee;

	box-shadow: 0 1px 1px #fff inset; 
	-moz-box-shadow: 0 1px 1px #fff inset;
	-webkit-box-shadow: 0 1px 1px #fff inset;
	-ms-box-shadow: 0 1px 1px #fff inset;
	color: #33383d;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 32px;
}
.tsc_pricingtable04 ul.price-box li.pricing-footer a.buy-now:hover {
	background: #FFE600;

}

.tsc_pricingtable04 ul.price-box:hover { 
	-webkit-transform: scale(1.1);
  	-moz-transform: scale(1.1);
  	-o-transform: scale(1.1);
  	-ms-transform: scale(1.1);
  	-moz-box-shadow:0px 5px 7px rgba(0,0,0,.1);
  	-webkit-box-shadow: 0px 5px 7px rgba(0,0,0,.1);
  	-ms-box-shadow: 0px 5px 7px rgba(0,0,0,.1);
  	box-shadow:0px 5px 7px rgba(0,0,0,.1);

	
}
.tsc_pricingtable04 ul.price-box:hover li.pricing-content,
.tsc_pricingtable04 ul.price-box:hover li.pricing-footer {
	background-color: #fff;		
}
.separator{
	height:auto;
	text-align:left;
	padding:12px;
	border: 1px solid #CCC;
}










